body {
  background: url('/images/Purple-color-theory.jpg');
  background-size: cover;
  display: flex;
}
.container {
  margin: 50px auto;
  background-color: #ffffff;
  width: 40%;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  margin-top: 40px;
}
